:root {
  --white: #ffffff;
  --black: #000000;
  --background: #efffed;
  --primary-light: #a3d681;
  --dark-green: #48742c;
  --red-button: #d2191c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
